h2{
    font-family: 'EB Garamond', serif;
    font-size: 1.6rem;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
}

.about-container{
    width: 80%;
    background-color: @transparent;
    border: 1px red solid;
    img{
        position: absolute;
        width: 100%;
    }
}